body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.signin-btn {
  color: black;
  width: 200px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  margin-top: 0.8rem;
  background: lightblue;
}

.container {
  margin: auto;
}
